{% extends 'blog.base.html.twig' %}
{% block posts %}

    {#--- search block ---#}
    {% if 'search' in app.request.get('_route') %}
        <h3>You search: <b>{{ query }}</b></h3>
        <hr>
        {% if listObj == null %}<h3>No Results</h3>{% endif %}<br>
    {% endif %}
    {#--- end search block ---#}

    {#--- block post ---#}
    {% for post in listObj %}
        <div class="blog-post">
            <h2 class="blog-post-title">
                <a href="{{ path('showOnePost', {'slug': post.slug }) }}">{{ post.title }}</a>
                {#<span class="badge" title="rating">{{ post.totalScore }}</span>#}
            </h2>

            <p class="blog-post-meta">
                {% if post.totalScore > 0 %}
                    <span class="glyphicon glyphicon-star text-warning" aria-hidden="true" title="rating"></span>
                    <span id="rating" title="rating">{{ post.totalScore }}</span>
                {% endif %}
                {{ post.dateTime|date }} by <a href="#">{{ post.author.username }}</a>
            </p>
            {% if post.tags is not empty %}
                <span class="glyphicon glyphicon-tag"></span>
                {% for tag_name in post.tags %}
                    <a class="label label-default"
                            {#href="{{ path('postsWithTag', {'tag': tag_name.tag}) }}"#}>
                        {{ tag_name.tag }}
                    </a>
                {% endfor %}
            {% endif %}
            {% if post.pictPath != '' and post.pictPath != 'not set' %}
                <img class=" img-thumbnail" src="{{ asset(post.pictPath) | imagine_filter('thumb_160') }}"/>
            {% else %}
                {{ dump(post.pictPath) }}
                <img class=" img-thumbnail" src="{{ asset('img/programming.jpg') | imagine_filter('thumb_160') }}"/>
            {% endif %}
            <div class="clearfix">
                {{ post.post | nl2br }}
                {% if post.post|length >299 %}...
                    <a href="{{ path('showOnePost', {'slug': post.slug }) }}">read more</a>
                {% endif %}
            </div>
            <hr>
        </div>
    {% endfor %}
    {#--- end block post ---#}
{% endblock %}