{% extends 'blog.base.html.twig' %}
{% block posts %}
    {#  {{ dump(listObj) }}
        {{ dump(countTag) }} #}
    {#{{ dump(shortPost) }} #}

    {#--- block post ---#}

    <div class="blog-post">
        <h2 class="blog-post-title">
            {{ post.title }}
        </h2>
        <p class="blog-post-meta">
            {% if post.totalScore > 0 %}
                <span class="glyphicon glyphicon-star text-warning" aria-hidden="true" title="rating"></span>
                <span id="rating" title="rating">{{ post.totalScore }}</span>
            {% endif %}
            {{ post.dateTime|date }} by <a href="#">{{ post.author.username }}</a>
        </p>
        {% if post.tags is not empty %}
            <span class="glyphicon glyphicon-tag"></span>
            {% for tag_name in post.tags %}
                <a class="label label-default"
                        {#href="{{ path('postsWithTag', {'tag': tag_name.tag}) }}"#}>
                    {{ tag_name.tag }}
                </a>
            {% endfor %}
        {% endif %}
        {#{% set runtimeConfig = {"thumbnail": {"size": [160, 110] }} %}
        http://lorempixel.com/400/200
        #}
        <div>
            {% if post.uploadFile.values[0] is defined %}
                <img class=" img-thumbnail"
                     src="{{ asset(post.uploadFile.values[0].path) | imagine_filter('thumb_300') }}"/>
            {% else %}
                <img class=" img-thumbnail" src="{{ asset('img/programming.jpg') | imagine_filter('thumb_300') }}"/>
            {% endif %}
            {#{{ dump(post.uploadFile) }}#}
            <p>{{ big_char(post.post) | nl2br }}</p>
            <p class="clear clearfix"></p>
            <hr>
        </div>
    </div>
    {#--- Comments ---#}
    <div class="media">
        <div class="media-body">
            <h3 class="media-heading">Comments:</h3>
            <span class="glyphicon glyphicon-comment"></span><br>
            {% for item in post.comments %}
                <div class="media-left">
                    <span class="blog-description">score:</span> {{ item.score }},
                    <span class="blog-description">author: </span> {{ item.author.username }}
                </div>
                <div class="media-right">
                    <p>
                        <span class="blog-description">date: </span>
                        <span>{{ item.dateTime | date }}</span>
                        {% if is_granted('edit', item) or is_granted('ROLE_ADMIN') or
                        (is_granted('edit', post) and (item.author.role != 'ROLE_ADMIN')) %}
                            <a class="glyphicon glyphicon-pencil" title="edit comment"
                               href="{{ path('commentEdit', {'id':item.id}) }}"></a>
                        {% endif %}
                    </p>
                </div>
                <div class="alert alert-info">
                    <p>{{ item.comment }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="media">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="media-body">
                user: "{{ app.user.username }}"
                <h4>Your score and comment:</h4>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        {% else %}
            <p>Your are not correct login and can't post comments!</p>
        {% endif %}
    </div>
    {#--- end Comments ---#}
    {#--- end block post ---#}
{% endblock %}