{% extends 'blog.base.html.twig' %}
{% block posts %}
    {#  {{ dump(listObj) }}
        {{ dump(countTag) }} #}
    {#{{ dump(shortPost) }} #}
    {% if nav == 9 %}
        <h3>You search: <b>{{ query }}</b></h3>
        <hr>
        {% if listObj == null %}<h3>No Results</h3>{% endif %}<br>
    {% endif %}
    {% for post in listObj %}
        <div class="blog-post">
            <h2 class="blog-post-title">
                {% if nav != 0 %}
                    <a href="{{ path('showOnePost', {'slug': post.slug }) }}">{{ post.title }}</a>
                {% else %}{{ post.title }}
                {% endif %}
            </h2>

            <p class="blog-post-meta">{{ post.dateTime|date }} by <a href="#">{{ post.author.author }}</a></p>
            {% if post.tags is not empty %}
                <span class="glyphicon glyphicon-tag"></span>
                {% for tag_name in post.tags %}
                    <a class="label label-default"
                            {#href="{{ path('postsWithTag', {'tag': tag_name.tag}) }}"#}>
                        {{ tag_name.tag }}
                    </a>
                {% endfor %}
            {% endif %}
            {#<br><img class=" img-thumbnail" src="{{ '/pict/programming.jpg' | imagine_filter('thumb_one') }}" />#}
            <p>{{ post.post | nl2br }}
                {% if post.post|length >299 and nav != 0 %}...
                    <a href="{{ path('showOnePost', {'slug': post.slug }) }}">read more</a>
                {% endif %}
            </p><hr>
            {% if nav == 0 %}
                {% for item in post.comments %}
                    <span class="blog-description">score:</span> {{ item.score }},
                    <span class="blog-description">author: </span> {{ item.author.author }}
                    <div class="alert alert-info">
                        <p>{{ item.comment }}</p>
                    </div> {#{{ dump(item) }}#}

                {% endfor %}
                <h3>Comments:</h3>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}