{% extends 'blog.base.html.twig' %}
{% block posts %}
    {#  {{ dump(listObj) }}
        {{ dump(countTag) }} #}
    {#{{ dump(shortPost) }} #}

    {#--- block post ---#}

        <div class="blog-post">
            <h2 class="blog-post-title">
                {{ post.title }}
            </h2>
            <p class="blog-post-meta">
                {% if post.totalScore > 0 %}
                    <span class="glyphicon glyphicon-star text-warning" aria-hidden="true" title="rating"></span>
                    <span id="rating">{{ post.totalScore }}</span>
                {% endif %}
                {{ post.dateTime|date }} by <a href="#">{{ post.author.author }}</a>
            </p>
            {% if post.tags is not empty %}
                <span class="glyphicon glyphicon-tag"></span>
                {% for tag_name in post.tags %}
                    <a class="label label-default"
                            {#href="{{ path('postsWithTag', {'tag': tag_name.tag}) }}"#}>
                        {{ tag_name.tag }}
                    </a>
                {% endfor %}
            {% endif %}
            {#{% set runtimeConfig = {"thumbnail": {"size": [160, 110] }} %}#}
            <div>
                <img class=" img-thumbnail" src="{{ asset('pict/programming.jpg') | imagine_filter('thumb_300') }}" />
                {{ post.post | nl2br }}
            <hr>
            </div>
        </div>
                             {#--- Comments ---#}
            {% for item in post.comments %}
                <span class="blog-description">score:</span> {{ item.score }},
                <span class="blog-description">author: </span> {{ item.author.author }}
                <div class="alert alert-info">
                    <p>{{ item.comment }}</p>
                </div>
            {% endfor %}
            <h3>Comments:</h3>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
                             {#--- Comments ---#}
    {#--- end block post ---#}
{% endblock %}