{#--- tag cloud ---#}
{% if countTag is defined %}
    <div class="sidebar-module sidebar-module-inset">
        <div id="myCanvasContainer">
            <canvas width="230" height="230" id="myCanvas">
                <p>Anything in here will be replaced on browsers that support the canvas element</p>
                <ul>
                    {% for key, value in countTag %}
                        <a id="tags"
                           href="{{ path('postsWithTag', {'tag': key }) }}">
                            {{ key }}
                        </a>
                    {% endfor %}
                </ul>
            </canvas>
        </div>
    </div>
    {% for key, value in countTag %}
        <a id="tags"
           href="{{ path('postsWithTag', {'tag': key }) }}">
            <span style="font-size: {{ 12 + value }}pt">{{ key }}<small>({{ value }})</small></span>
        </a>
    {% endfor %}
    <br><br>
{% endif %}

{#--- Popular posts ---#}
{% if PopularPosts is defined %}
<div class="sidebar-module sidebar-module-inset">
    <h4>5 {{ 'main.popular'|trans }}:</h4>
    <ul>
        {% for key, value in PopularPosts %}
            <li>
                <a href="{{ path('showOnePost', {'slug': key}) }}">{{ value }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{#--- last comments ---#}
{% if listComm is defined %}
<div class="sidebar-module sidebar-module-inset">
    <h4>{{ 'main.lastComm'|trans }}:</h4>
    <ul>
        {% for item in listComm %}
            <li>
                <a href="{{ path('showOnePost', {'slug': item.post.slug}) }}">{{ item.comment }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
