{% extends 'blog/Admin/index.html.twig' %}

{% block posts %}
    {#{{ dump(listObj) }}#}
    <h3>Posts:</h3>
    <div class="blog-post">
        <table class="table">
            <tr>
                <th>id</th>
                <th>title</th>
                <th>dateTime</th>
                <th>author</th>
                <th>tags</th>
                <th></th>
                <th></th>
            </tr>
            {% for post in listObj %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.dateTime|date }}</td>
                    <td>{{ post.author.username }}</td>
                    <td>
                        {% for tag_name in post.tags %}
                            {% if not loop.last %}
                                {{ tag_name.tag }},
                            {% else %}
                                {{ tag_name.tag }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    {% if is_granted('edit', post) or is_granted('ROLE_ADMIN') %}
                        <td>
                            <a class="glyphicon glyphicon-pencil" title="edit Post"
                               href="{{ path('admPostMod', {'id':post.id}) }}"></a>
                        </td>
                        <td>
                            {{ form_start(delForms[post.id], {attr : {onsubmit: 'return confirm("Do you really want to delete?");' }}) }}
                            {{ form_widget(delForms[post.id].submit) }}
                            {{ form_end(delForms[post.id]) }}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}