{% extends ':blog/Admin:index.html.twig' %}
{% block blog_Post %}
    <h3> {{ msg }} :</h3>
    <hr>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <hr>
    <h3>Add post picture:</h3>
    {{ form(formUpload) }}

    {{ dump(uploads) }}
    {{ dump(var1) }}
    {% for item in var2 %}
    {{ dump(item) }}
        {% endfor %}
{% endblock %}