{% extends 'blog.base.html.twig' %}
{% block nav %}
    <a class="blog-nav-item {{ 'index' in app.request.get('_route') ? 'active' : '' }}" href="{{ path('indexBlog') }}">Home</a>
    <a class="blog-nav-item {{ 'adminB' in app.request.get('_route') ? 'active' : '' }}" href="{{ path('adminBlog') }}">Admin</a>
    <a class="blog-nav-item {{ 'authorA' in app.request.get('_route') ? 'active' : '' }}" href="{{ path('authorAdd') }}">Author
        add</a>
    <a class="blog-nav-item {{ 'authorL' in app.request.get('_route') ? 'active' : '' }}" href="{{ path('authorList') }}">Author
        List</a>
    <a class="blog-nav-item {{ 'postA' in app.request.get('_route') ? 'active' : '' }}" href="{{ path('postAdd') }}">New post</a>
    <a class="blog-nav-item {{ 'admP' in app.request.get('_route') ? 'active' : '' }}" href="{{ path('admPostList') }}">admPosts</a>
    <a class="blog-nav-item {{ 'tagA' in app.request.get('_route') ? 'active' : '' }}" href="{{ path('tagAdd') }}">New tag</a>
    <a class="blog-nav-item {{ 'tagL' in app.request.get('_route') ? 'active' : '' }}" href="{{ path('tagList') }}">Tags</a>
{% endblock nav %}