{% extends 'blog.base.html.twig' %}
{% block blogHeader %}
    <div class="blog-header">
        <p class="lead blog-description">{{ 'admin.panel'|trans }}</p>
    </div>
{% endblock %}

{% block nav %}
    <a class="blog-nav-item {{ 'index' in app.request.get('_route') ? 'active' : '' }}" href="{{ path('indexBlog') }}">
        {% trans %}menu.home{% endtrans %}
    </a>
    <a class="blog-nav-item {{ 'adminB' in app.request.get('_route') ? 'active' : '' }}" href="{{ path('adminBlog') }}">
        {% trans %}menu.admin{% endtrans %}
    </a>
    {# is_granted('ROLE_MODERATOR') #}
    {% if is_granted('ROLE_ADMIN') %}
        <a class="blog-nav-item {{ 'authorA' in app.request.get('_route') ? 'active' : '' }}"
           href="{{ path('user_registration') }}">{% trans %}menu.userA{% endtrans %}</a>
        <a class="blog-nav-item {{ 'authorL' in app.request.get('_route') ? 'active' : '' }}"
           href="{{ path('authorList') }}">{{ 'menu.userL'|trans }}</a>
        <a class="blog-nav-item {{ 'tagA' in app.request.get('_route') ? 'active' : '' }}" href="{{ path('tagAdd') }}">
            {{ 'menu.newT'|trans }}
        </a>
        <a class="blog-nav-item {{ 'tagL' in app.request.get('_route') ? 'active' : '' }}"
           href="{{ path('tagList') }}">{{ 'menu.tags'|trans }}</a>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MODERATOR') %}
        <a class="blog-nav-item {{ 'postA' in app.request.get('_route') ? 'active' : '' }}"
           href="{{ path('postAdd') }}">
            {{ 'menu.newP'|trans }}
        </a>
        <a class="blog-nav-item {{ 'admP' in app.request.get('_route') ? 'active' : '' }}"
           href="{{ path('admPostList') }}">
            {{ 'menu.listAdmP'|trans }}
        </a>
    {% endif %}
    <a class="blog-nav-item {{ 'Logout' in app.request.get('_route') ? 'active' : '' }}" href="{{ path('logout') }}">
        {{ 'menu.logout'|trans }}
    </a>
{% endblock nav %}
{% block blog_Post %}
    <h3>{{ 'admin.ch.cat'|trans }}</h3>
{% endblock %}
